{{define "meta"}}
    {{if .Meta}}
        <div id="nav">
            {{if .Meta.Prev}}
                <a href="{{.Meta.Prev}}">
                    <svg style="width:36px;height:36px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M20,9V15H12V19.84L4.16,12L12,4.16V9H20Z" />
                    </svg>
                </a>
            {{end}}
            {{if .Meta.Parent}}
                <a href="{{.Meta.Parent}}">
                    <svg style="width:36px;height:36px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M15,20H9V12H4.16L12,4.16L19.84,12H15V20Z" />
                    </svg>
                </a>
            {{end}}
            {{if .Meta.Next}}
                <a href="{{.Meta.Next}}">
                    <svg style="width:36px;height:36px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M4,15V9H12V4.16L19.84,12L12,19.84V15H4Z" />
                    </svg>
                </a>
            {{end}}
        </div>
    {{end}}
{{end}}
